.siteheader {
    width: 100vw;
    height: 80px;
    border-bottom: #eaeaea solid 1px;
}

.sitenav {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: relative;
}

.sitenav figure {
    margin: 0;
    height: 50px;
    width: 50%;
}

.sitenav figure img {
    height: 100%;
}

.sitemenu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

.sitemenu a {
    color: #3a3a3a;
    text-decoration: none;
    padding: 0 1em;
}