.header {
  margin-top: 1rem;
  padding: 5em 6.67em 3.33333em;
  width: 100%;
  background-color: #eee;
}

.category_content {
  max-width: 1000px;
  margin: 0 auto;
}

.content_container {
  border-bottom: #eaeaea solid 1px;
  margin-bottom: 1rem;
  padding: 0 1rem 1rem;
}

.content_container h2 {
  text-decoration: none;
  margin-bottom: 0;
  line-height: 1.3;
  font-size: 2.7rem;
}

.single_inner_content {
  width: 100%;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row-reverse;
}

.post_thumbnail {
    width: 30%;
    height: 150px;
    background-position: center;
    background-size: cover;
    position: relative;
    display: block;
    align-self: center;
    margin-top: 10rem;
}

.post_content {
    padding: 0 1rem;
    width: 70%;
    position: relative;
}

.category_label {
    margin: 1rem 0;
    display: inline-block;
}

.load_more_btn {
    background-color: #00c76b;
    border: 0;
    padding: 1rem 2rem;
    display: block;
    width: 200px;
    margin: 20px auto;
    font-size: 1rem;
    color: white;
    border-radius: .2rem;
    box-shadow: 2px 2px 5px #a9a9a9;
    cursor: pointer;
}

.load_more_btn:disabled {
    background-color: #439a72;
}

@media screen and (max-width: 700px) {
    .single_inner_content {
        flex-direction: column-reverse;
    }

    .post_content {
        width: 100%;
    }

    .post_thumbnail {
        width: 100%;
    }
}