.page_container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 .5rem;
}

.page_content {
    width: 60%;
}

.thumbnail {
    width: 100%;
}

@media (max-width: 900px) {

    .page_content {
        width: 100%;
    }

    .page_container {
        flex-direction: column;
    }
}