.sidebar_container {
    margin-top: 20px;
    max-width: 350px;
    width: 100%;
    position: sticky;
    top: 4rem;
    margin-bottom: 50px;
}

.form {
    padding: 2rem 2rem 1rem;
    border-radius: 5px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.3);
    border: none;
    width: 100%;
    min-height: 400px;
    height: fit-content;
}

.form_step {
    width: 100%;
}

.form_step h2 {
    text-align: center;
    font-size: 1.95rem;
}

.form_step p {
    font-size: 1rem;
    color: black;
    text-align: center;
    font-weight: 300;
}